# Игнорировать виртуальное окружение
.venv/
Scrapper/ScraperCum/.venv/
Scrapper/ScraperLamoda/.venv/

# Игнорировать виртуальное окружение
.venv/

# Игнорировать временные файлы IDE
.idea/
.vscode/

# Игнорировать файлы логов
*.log

# Игнорировать кеши Python
__pycache__/
*.pyc
*.pyo

# Игнорировать все CSV файлы
*.csv

# Игнорировать все JSON файлы
*.json

# Исключить из игнорирования constant.json
!constant.json